/* PostCard.css */
.post-readonly-editor .ql-container.ql-snow {
  border: none !important;
  box-shadow: none !important;
}
.post-readonly-editor .ql-toolbar.ql-snow {
  border: none !important;
  box-shadow: none !important;
}
